@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Caveat', cursive;
  background-color: black;
  letter-spacing: 4px;  /* 文字間隔指定 */
}

/* header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 22px 5% 12px;
  background-color: black;
  z-index: 5;
}


.top-link {
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

/* ナビゲーション */
.nav {
  float: right;
}

.nav-wrapper {
  list-style: none;
  margin: 0;
  display: flex;
}

.menu {
  padding: 0;
  margin: 0 0 0 50px;
  font-size: 14px;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.nav a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Caveat', cursive;
  color: white;
}

.nav a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background: white;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}

.nav a:hover::after{
  transform: scale(1, 1);
}

.nav a.no-color-change:link,
a.no-color-change:visited,
a.no-color-change:hover,
a.no-color-change:active {
  color: black;
}

/* footer */
footer {
  width: 100%;
  height: 100px;
  padding-top: 2%;
  background-color: black;
  color: white;
  text-align: center;
  z-index: 5;
  line-height: 190%;
}

.footer-menu li {
  display: inline;
}

.footer-menu a {
  text-decoration: none;
  color: white;
}

.footer-menu {
  margin-right: 27px;
}

/* フルスクリーン */
.fullscreen {
  background-image: url(../photos/topphoto1.jpg);
  width: 100%;
  height: 100vh; /* 全画面表示 */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: blur(3px);
}



.center p{
  position: absolute;
  float: left;
  text-align: center;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
}

/* POST TOP画像 */
.main{
    margin: 4.7% 0 0 0;
    height: 100%;
    width:100%;
}

.main_image{
    background-image: url(../photos/postimage2.png);
    /*　↓映す画像の位置調整、拡大縮小など↓　*/
    background-position: right 35% top 60%;
    background-repeat: no-repeat;
  	background-size: 100% auto;
    width: 100%;
    height: 45%;
    color: white;
}

.main_image img{    /*タイトルの画像*/
    margin: 5% 37%;
    height: 100%;
    width: 26%;
    /*object-fit: fill;*/
     /*position: relative;
     z-index: 1;*/
}


/* 投稿フォーム */
.post_form {
  width: auto;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  color: white;
  background-color: #222831;
  line-height: 200%;    /* 行間隔 */
}


.upload {
  font-family: 'Caveat', cursive;
  margin-top: 10px;
  padding: .5em 1em;
  background-color: #222831;
  border-radius: 50% 20%/10% 40%;
  border: solid 3px #3e8ff7;
  color: white;
  font-size: 15px;
}

.upload:hover {
  color: #3e8ff7;
}

/*             LIST部分              */
.wrapper{    /*全体*/
    position: relative;
    width: 100%;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

.contents{  /*メイン*/
    padding-top: 4.5%;
    height: 100%;
    background-image: url(../photos/background/コンクリ1-1.jpg); /*ページの背景画像*/
}

/*---------メインタイトル---------*/
.main_image{
    background-image: url(../photos/main/buildings-1245953_1920.jpg);    /*メインタイトルの背景画像*/
    background-position: right 35% top 60%;
	  background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 45%;
    display: flex;
    justify-content:center;
}

.main_image img{    /*メインタイトルの画像について*/
    padding: 3%  0;
    height: 50%;
    width: 26%;
}

/*---------ステッカー一覧---------*/
.main_list{
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

/*---------ステッカー---------*/
.sticker {
    margin: 1%;
    width: 170px;
    height: auto;
	overflow:		hidden;
    position:		relative;
}

.sticker img{
    background-image: url(../photos/material/コンクリ土台80.png);    /*ステッカーの背景画像*/
    object-fit: contain;    /*長方形の画像を正方形に合わせる*/
    width: 100%;
    height: 100%;
}

/*---------ホバー時のマスク---------*/
.sticker .caption {
	font-size:		95%;
	text-align: 		left; /*詳細情報を左寄せで表示*/
	color:			#fff;
}

.caption{
    margin: 8% 5%;
    width: 90%;
    height: 84%;
}

.caption tr{
    font-weight: bold;
}

.caption th{
    word-break: break-all;
    font-weight: lighter;
}

.sticker .mask {
	width:			100%;
	height:			100%;
	position:		absolute;	/* 絶対位置指定 */
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない判定 */
	background-color:	rgba(0, 0, 0, 0.76);	/* マスクの色 */
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}

.sticker:hover .mask {
	opacity:		1;	/* マスクを表示する判定 */
}

/*---------ページング---------*/
.page_button{
    height: 5%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.page_button button{
    width: 5%;
    background:none;
    border:0;
    font-size:0;
    line-height:0;
    overflow:visible;
    cursor:pointer;
}

.page_button img{
    width: 200%;
}

.page_button button:focus { /*ボタンをクリックしたときに四角く囲まれるのを防ぐ*/
	outline:0;
}

.page_button p{ /*ページング文字設定*/
    /* margin-top: 0.5%; */
    text-align: center;
    font-weight: 900;
    font-size: 200%;
    color: white;
}
